.heading {
    font-size: 23px;
    box-shadow:  5px 5px 5px grey;
    width: 100%;
    margin: 0px;
}

.NOTE {
    color: black;
    font-size: 15px;

}

.copyright_footer {
    color: white;
    background-color: grey;
    bottom: 0;
    width: 100%;
    position: fixed;
    line-height: 3;
    text-align: center;
}

.canvas {
    box-shadow: 5px 5px 5px grey;
    border-radius: 400px;
    border: 5px solid white;
    background-color: grey;
}